<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">I am a web developer currently enrolled in a full stack coding bootcamp at UNC Charlotte. I enjoy challenges and
            working on new projects frequently. I was born and have lived in Charlotte, NC my whole life and love it here. I will update and highlight some of the projects that I am currently working on towards the bottom.
             Please feel free to contact me with any questions or opportunities. I look forward to working together soon! </p>
        </div>
        <div class="col-sm-4 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.linkedin.com/in/luke-champ-40a38594/" class="text-white">LinkedIn</a>
            </li>
            <li>
              <a href="https://github.com/thechampl" class="text-white">GitHub</a>
            </li>
            <li>
              <a href="mailto:luke.champ@outlook.com" class="text-white">Email me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark navbar-fixed-top bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <nav class="navbar-brand d-flex align-items-center">
        <p>Luke Champ Web Development</p>
    </nav>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
   

     <img src="/assets/WebsitePieces/navbarLogo1.png" width="250" height="300" alt="Logo">
     <h2>Curent Projects</h2>


    </div>
  </section>
  
    <div class="container col-md-12">
      <div class="row">

  <div class="col-md-4">
   <div class="card text-primary border-primary mb-3" style="min-height:100%">
       <i class="fas fa-university""card-img-top img-responsive" style="height: 150px; width: 100%; display: block;"></i>  
      <div class="card-body">
        <p class="card-text">Current Project: 311</p>
        <p class="card-text">A link between citizen and government to make the process of government services or web site forms
          easier and more responsive.
          </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary">
              <a href="https://github.com/thechampl/311">GitHub Link</a>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

 <div class="col-md-4 ">
   <div class="card text-primary border-primary mb-3" style="min-height:100%">
      <i class="fas fa-heart""card-img-top img-responsive" style="height: 150px; width: 100%; display: block;"></i>        
      <div class="card-body">
        <p class="card-text">FriendFinder</p>
        <p class="card-text">Full Stack App that generates data and uses logic to find closest match friend from database.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary">
              <a href="https://github.com/thechampl/FriendFinder">GitHub Link</a>
            </button>
          </div>
           </div>
      </div>
    </div>
  </div>

<div class="col-md-4">
   <div class="card text-primary border-primary mb-3" style="min-height:100%">
       <i class="far fa-question-circle card-img-top img-responsive" style="height: 150px; width: 100%; display: block;"></i>  
      <div class="card-body">
        <p class="card-text">Slack Trivia</p>
        <p class="card-text">A trivia app that can receive responses from a Slack channel and store data on Firebase to display a winner. </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary ">
              <a href="https://github.com/thechampl/Group-Project-1">GitHub Link</a>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>
</div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>