$primary-color: #35a7ff;
$secondary-color: #333333;
$background-color: #e5e5e5;

#current{
    color: $primary-color;
    text-align: center
}


.card{
color: $secondary-color;
background-color: $background-color;
text-decoration: none;
}

path{
    color:$primary-color
    
}

#about{
    text-align: left;
    color: $secondary-color
}
.navbarBrand{
    color: $background-color
}
i{
    color: $secondary-color;
}

.jumbotron{
    background-color: $background-color;
}

a:hover{
    text-decoration: none;
    color:#e5e5e5;
}

.card-text{
    border: 0px;
}

.navbar{
    background-color: $primary-color;
    color:$secondary-color
}

#navbarDropdownMenuLink{
    color:$secondary-color;
}
.dropdown-menu{
    color: $primary-color;

}



.navbar-toggler-icon{
background-color: $secondary-color;
}

#logo{
-webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#logo.load{
    opacity: 1;
}